.forgot-password-link{
    font-size: 12px;
    color: var(--customer-placeholder-color);
    text-decoration: none;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
}

.customer-login-cancel-form-btn{
    margin-left: 10px;
}

.customer-login-phone-container, .customer-login-pw-container{
    position: relative;

}

.customer-login-phone-icon, .customer-login-pw-icon{
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 20px;
    color: white;
}

.customer-login-phone-container input, .customer-login-pw-container input{
    padding-left: 30px;
}

.password-reset-otp{
    display: flex;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
}

.otp-input{
    margin-top: 0;
}

.customer-pw-reset-btn{
    margin: auto;
    margin-top: 40px;
    display: block;
}

.cannot-reset-password-container{
    text-align: center;
    color: white;
}

.cannot-reset-password-container span{
    display: block;
    margin-bottom: 40px;
}
